{
    "presets": [["@babel/preset-env", { 
        "targets": {
            "node": "current",
            "uglify": true
        }
    }], "@babel/preset-react"],
    "plugins": [
        "transform-class-properties"
    ]
}